{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'css/email.css' %}" rel="stylesheet">
</head>
    <body>
        <div class="header">
            <h1>Заказ подтвержден</h1>
        </div>
        
        <p>Здравствуйте, {{ order.user.username }}!</p>
        <p>Ваш заказ #{{ order.id }} успешно оформлен и принят в обработку.</p>
        
        <div class="order-details">
            <h2>Детали заказа:</h2>
            <ul class="items-list">
                {% for item in items %}
                    <li class="item">
                        <strong>{{ item.menu_item.name }}</strong>
                        <br>
                        {{ item.quantity }} шт. × {{ item.menu_item.price }} ₽
                    </li>
                {% endfor %}
            </ul>
            <div class="total">
                Итого: {{ order.total_price }} ₽
            </div>
        </div>
        
        <div class="footer">
            <p>Спасибо за ваш заказ!</p>
            <p>С уважением, команда CherryDine</p>
        </div>
    </body>
</html>