<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'css/email.css' %}" rel="stylesheet">
</head>
    <body>
        <div class="header">
            <h1>Рекомендации для вас</h1>
        </div>
        
        <p>Здравствуйте, {{ user.username }}!</p>
        <p>Спасибо за ваш заказ #{{ order.id }}. Мы подготовили для вас несколько рекомендаций:</p>
        
        {% if recommendations %}
            {% for item in recommendations %}
                <div class="recommendation">
                    <h3 class="dish-name">{{ item.name }}</h3>
                    <p class="description">{{ item.description }}</p>
                    <p class="price">{{ item.price }} ₽</p>
                </div>
            {% endfor %}
        {% else %}
            <p>К сожалению, мы не смогли подобрать рекомендации на основе вашего заказа.</p>
        {% endif %}
        
        <div class="footer">
            <p>Приятного аппетита!</p>
            <p>С уважением, команда CherryDine</p>
        </div>
    </body>
</html>